@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lalezar, sans-serif;
}

fieldset {
  padding: 10px 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: dotted 2px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
legend {
  margin: 10px 0px;
  padding: 0px 10px;
  font-weight: 400;
  color: rgb(121, 120, 120);
}
input,
button {
  all: unset;
  border: none;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 12px 19px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: #24a9e2c5 0px 2px 4px 0px, #327896d8 0px 2px 16px 0px;
}
button {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    cursor: pointer;
    padding: 12px 88px;
}

p{
    margin-top: 20px;
}
